* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    max-width: 1000px;
    background-color: #323C40;
  }
#name {
  font-size: 200%;
  margin-top: 20px
}
  .center-image {
  text-align: center;
}
.sidebar {
  margin-top:100px;
  width: 7%;
  height: 250px;
  float:left;
  text-align: center;
  position: fixed;
  background-color: transparent;
  color: grey;
}
.sidebar-img {
  width: 40px;
  height: 40px;
  margin: 10%
}
.sidebar-photo {
  width: 75px;
  height: 75px;
}
.sidebar-link {
  min-width: 48px;
  min-height: 48px;
  text-align: center;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.header-name {
  box-sizing: border-box;
  float: right;
  max-width: 85%;
  font-family: cursive;
  font-style: italic;
  font-variant: small-caps;
  font-size: 175%;
  color: white;
  font-weight: 100;
}
.aboutme {
  padding-left: 2em;
  text-indent: 2em
}
.header-logo {
  box-sizing: border-box;
  max-width: 8%;
  float:left;
  margin-left: 2%;
  padding-top: 10px;
}
.header-slogan {
  box-sizing: border-box;
  clear: right;
  float: right;
  margin-top: 20px;
  margin-bottom: 15px;
  color:white;
}
.works{
  height:40%;
  width:40%;
  clear: both;
}
h3 {
  text-align: center;
}
nav {
  clear: right;
  float: right;
  width:80%;
  max-width: 100%;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 5px;
  position:relative;
}
nav ul a {
  color: #02b3e4;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 14px;
}
nav ul a:hover {
  color: #fff
}
nav ul a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #ffffff;
  position: absolute;
  top:0;
  transition: all ease-in-out 250ms
}
nav ul a:hover::before {
  width: 100%;
}
.sample-code {
  float: right;
  max-width: 100%;
  margin-top: 20px;
}
.mywork {
  max-width: 100%;
  max-height: 400px;
}
.container {
  color:white;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: #7d97ad;
}
.work-desc {
  max-width:25%;
  min-width: 25%;
  max-height: 150px;
  min-height: 150px;
  float: right;
  margin: 4%;
  text-align: center;
  color: white;
}
.about-me-text {
  text-align: justify;
}
.self {
  vertical-align: inherit;
}
